* {
  background: grey
}

header {
  margin: auto;
  padding: 30px;
  text-align: center;  
}

section {
  margin: auto;
  padding: 20px;
  text-align: justify;
}

ul {
  margin: auto;
  padding: 20px;
  text-align: justify;
}